---
http_interactions:
- request:
    method: get
    uri: https://api.easyship.com/2023-01/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24617145588fe9c1e8c1d7bb5ac6887c"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"account":{"billing_address":{"city":"Kyiv","company_name":"Global Farming","contact_email":"example@example.com","contact_name":"Michael M","contact_phone":"+xxxxxxxxxxx","country_alpha2":"UA","default_for":{"pickup":false,"billing":true,"sender":false,"return":false},"id":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx","line_1":"Kyiv","line_2":"Kyiv","postal_code":"10001","state":"","validation":null},"credit":{"available_balance":0.0,"balance":0.0,"currency":"UAH"},"easyship_company_id":"xxxxxxxx","name":"Global Farming"},"meta":{"request_id":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}}'
  recorded_at: Sat, 08 Jun 2024 08:56:10 GMT
recorded_with: VCR 6.2.0
