---
http_interactions:
- request:
    method: get
    uri: https://api.easyship.com/2023-01/invalid-path
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"invalid_endpoint","details":[],"message":"The requested
        endpoint does not exist.","request_id":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","type":"invalid_request_error"}}'
  recorded_at: Sat, 08 Jun 2024 09:05:45 GMT
recorded_with: VCR 6.2.0
