---
http_interactions:
- request:
    method: get
    uri: https://api.easyship.com/2023-01/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"error":{"code":"invalid_token","details":[],"message":"Invalid token.","request_id":"adb226a52e929e9a5de4d8c530427b86","type":"invalid_request_error"}}'
  recorded_at: Sat, 08 Jun 2024 09:07:01 GMT
recorded_with: VCR 6.2.0
