---
http_interactions:
- request:
    method: get
    uri: https://api.easyship.com/2024-09/countries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1764356160'
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"error":{"code":"too_many_requests","details":["You have reached the
        maximum number of requests per second. Contact your account manager to request
        a higher limit."],"message":"Rate Limit Exceeded. You have reached the maximum
        number of requests. Please try again later.","request_id":"384042d3615f3adc2beeaace672a6899","type":"invalid_request_error"}}'
  recorded_at: Fri, 28 Nov 2025 18:56:00 GMT
recorded_with: VCR 6.2.0
