---
http_interactions:
- request:
    method: get
    uri: https://api.easyship.com/2023-01/countries?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"723b733121cab27d0dc1cbdbcc931a9d"
      X-Rack-Cors:
      - hit
    body:
      encoding: ASCII-8BIT
      string: '{"countries":[],"meta":{"pagination":{"page":1,"next":null,"count":0},"request_id":"8d3aef1a543121f8053d802af191f958"}}'
  recorded_at: Sat, 03 May 2025 12:20:27 GMT
